{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CIA{% endblock %}

{% block page_content %}
    <form class="form" method="get">
            <table>
                        {% for item in cols %}
                <tr>
                    <td>
                            <input type="submit" name='btn' value="{{ item }}">
                    </td>
                </tr>
                        {% endfor %}
            </table>
            <input type='submit' name='btn' value="Match Columns">
        </form>

{% endblock %}
