{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}The Inlaws - CSV VLookUpAwesomeness - CSV VLAAW{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Welcome to the CSV tool thing!</h1>
    </div>
    <div>
        <form method="POST">
            <table>
                <tr><td>{{ form.file1() }}</td><td><input type="submit" name='btn' value='setfile1'></td></tr>
            </table>
            <input type='submit' name='btn' value="Match Columns">
        </form>
    </div>
{% endblock %}
